$primary-color: #703412;
$secondary-color: #FFFFFFB8;
$bg-main-color: #FEFBF1;
$bg-second-color: #084935;
$shadow-color: #a4a4a4b8;

$breakpoint-sm: 576px;
$breakpoint-md: 797px;
$breakpoint-lg: 970px;
$breakpoint-xl: 1040px;